[Unit]
Description=kclient wrapper

[Service]
Type=simple
User=gbraad
ExecStart=/usr/bin/env node /opt/kclient/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
