name: build container - single arch + bootc
run-name: building container - single arch + bootc

on:
  workflow_dispatch:
    inputs:
      container_name:
        description: "Name of the variant container (e.g., rdesktop)"
        required: true
        type: string
  workflow_call:
    inputs:
      container_name:
        description: "Name of the variant container (e.g., rdesktop)"
        required: true
        type: string

jobs:
  shared-config:
    name: Shared configuration
    runs-on: ubuntu-latest
    outputs:
      container_name: ${{ inputs.container_name }}
      base_image: ${{ steps.config.outputs.base_image }}
      base_version: ${{ steps.config.outputs.base_version }}
      bootc_image: ${{ steps.config.outputs.bootc_image }}
      release_tag: ${{ steps.release.outputs.tag }}
      user: ${{ steps.userinfo.outputs.user_username }}
      user_password: ${{ steps.userinfo.outputs.user_password }}
    steps:
      - name: Fetch user configuration and use output
        id: userinfo
        uses: gbraad-actions/shared-config@v2
        with:
          config_repo: https://github.com/${{ vars.OWNER }}/shared-config.git
          config_file: user.ini
          use_output: true
      - name: Fetch container base configuration and use output
        id: config
        uses: gbraad-actions/shared-config@v2
        with:
          config_repo: https://github.com/${{ github.repository_owner }}/shared-config.git
          config_file: containers/${{ github.repository }}/${{ inputs.container_name }}.ini
          use_output: true
      - name: Set release tag
        id: release
        run: |
          echo "tag=$(date +'%y%m%d')" >> $GITHUB_OUTPUT

  build-single-arch:
    needs: shared-config
    name: build-container-single-arch
    permissions:
      contents: read
      packages: write
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Run podman build - single arch
        run: |
          podman build -t ghcr.io/${{ github.repository }}/${{ inputs.container_name }}:${{ needs.shared-config.outputs.base_version }} \
            --build-arg=BASE_IMAGE="${{ needs.shared-config.outputs.base_image }}" \
            --build-arg=BASE_VERSION=${{ needs.shared-config.outputs.base_version }} \
            -f containers/${{ inputs.container_name }}/Containerfile .
      - name: Push image to ghcr.io - single arch
        run: |
          podman push --creds=${{ github.actor }}:${{ secrets.GITHUB_TOKEN }} \
            ghcr.io/${{ github.repository }}/${{ inputs.container_name }}:${{ needs.shared-config.outputs.base_version }}
      - name: Run podman build - single arch-bootc
        run: |
          podman build -t ghcr.io/${{ github.repository }}/${{ inputs.container_name }}-bootc:${{ needs.shared-config.outputs.base_version }} \
            --build-arg=BASE_IMAGE="${{ needs.shared-config.outputs.bootc_image }}" \
            --build-arg=BASE_VERSION=${{ needs.shared-config.outputs.base_version }} \
            -f containers/${{ inputs.container_name }}/Containerfile .
      - name: Push image to ghcr.io - single arch-bootc
        run: |
          podman push --creds=${{ github.actor }}:${{ secrets.GITHUB_TOKEN }} \
            ghcr.io/${{ github.repository }}/${{ inputs.container_name }}-bootc:${{ needs.shared-config.outputs.base_version }}
